<!doctype html>

<html lang="en">
<head>
  <!--
  BASIC SETUP
-->
<meta charset="utf-8">
<title>Food Giving: Give. Receive. Enjoy.</title>
<meta name="description" content="">
<meta name="author" content="No Moss Maker - Food Giving">

<!--
MOBILE META
-->
<meta name="viewport" content="width=device-width">

<!--
JAVASCRIPT
-->
<script src="https://unpkg.com/vue"></script>
<script src="node_modules/vue/vue.min.js"></script>

<!--
CSS
-->
<link rel="stylesheet" href="styles.css">
<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>

<!--
FAVICON
-->
<link rel="icon" type="image/png" href="images/favicon.png">

</head>

<body>
  <header>
    <img class= "logo" src="images\foodGiving-NoShadow.svg" alt="FG Logo">
  </header>

  <div class="container">
    <h1>Food to Give</h1>
    <form class="three-col-grid" method="POST">
      <img class="user-photo" src="images\agriculture-beans-corn-142520.jpg">
      <div class="drop-down">
        <h3>Food Type</h3>
        <label>Please choose one:</label>
        <select name="food-types" class="field-select">
          <option value="Grains">Grains</option>
          <option value="Dairy Product">Dairy Product</option>
          <option value="Meat">Meat</option>
          <option value="Vegetable">Vegetable</option>
          <option value="Fruit">Fruit</option>
          <option value="Other">Other</option>
        </select>
      </div>
      <div class="drop-down">
        <h3>Food Quantity</h3>
        <span>
          <input id="food-qty" type="text" name="food-quantity" placeholder="Qty"/>
          <label>Unit:</label>
          <select name="food-measurements" class="field-select">
            <option value="item(s)">item(s)</option>
            <option value="kg">kg</option>
            <option value="pounds">pounds</option>
            <option value="litres">litres</option>
            <option value="millilitre">millilitre</option>
            <option value="cup">cup</option>
          </select>
        </span>
      </div>
      <div class="text-field">
        <h3>Expiration Date</h3>
        <input type="text" name="expiration-date" placeholder="dd/mm/yy"/>
      </div>
      <div class="text-field description">
        <h3>Description <span><i>(Optional)</i></span></h3>
        <input type="text" name="description"
        placeholder="Please provide details about the items"/>
      </div>
      <button class="add-button" name="add-button">Add Food Entry</button>
      <button class="submit-button" name="submit-button">Enter Pick Up Detail</button>
    </form>

  </div>

  <footer>
  </footer>

  <script src="js/scripts.js"></script>
</body>
</html>
