<!DOCTYPE html>
<html>
<head>
    <title>Food Giving</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="node_modules/vue/vue.min.js"></script>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    <h1>Food Giving</h1><br>
    <h3>Create User</h3>
    <form method="POST">
        <fieldset>
			Name: <input type="text" name="name"><br>
            Email: <input type="text" name="email"><br>
            Password: <input type="password" name="password"><br>
            image: <input type="text" name="image"><br>
            location: <input type="text" name="location"><br>


            <input type="submit" value="Submit"><br>
            </fieldset>
        </form></body>

